In [9]:
import pandas as pd
import numpy as np
import pyspark

ModuleNotFoundError: No module named 'lightgbm'

In [4]:
speclib_filepath = "../Output/D_002_SpecLib_Derivs.csv"

input_df = pd.read_csv(speclib_filepath)
input_df.head()

,ScanID,Code_name,Species_name,Functional_group1,Functional_group2,Area,Species_name_Freq,Functional_group1_Freq,Functional_group2_Freq,Boochs,...,852.593_5nm,857.593_5nm,862.593_5nm,867.593_5nm,872.593_5nm,877.593_5nm,882.593_5nm,887.593_5nm,892.593_5nm,897.593_5nm
0,aleoch_Murph_061,aleoch,Alectoria ochroleuca,Lichen_Fruticose_Yellow,Lichen,Murphy,6,97,460,0.001818,...,0.253714,0.254478,0.255176,0.255714,0.256204,0.256744,0.257286,0.257767,0.258160,0.258481
1,aleoch_Murph_063,aleoch,Alectoria ochroleuca,Lichen_Fruticose_Yellow,Lichen,Murphy,6,97,460,0.001779,...,0.201025,0.201714,0.202366,0.202943,0.203526,0.204171,0.204810,0.205368,0.205809,0.206160
2,aleoch_Murph_064,aleoch,Alectoria ochroleuca,Lichen_Fruticose_Yellow,Lichen,Murphy,6,97,460,0.002775,...,0.317765,0.318003,0.318183,0.318076,0.317934,0.317952,0.317931,0.317696,0.317323,0.316932
3,aleoch_Murph_065,aleoch,Alectoria ochroleuca,Lichen_Fruticose_Yellow,Lichen,Murphy,6,97,460,0.003004,...,0.337911,0.338070,0.338184,0.338127,0.338018,0.337977,0.338016,0.338104,0.338143,0.338103
4,aleoch_Murph_066,aleoch,Alectoria ochroleuca,Lichen_Fruticose_Yellow,Lichen,Murphy,6,97,460,0.002610,...,0.288182,0.288323,0.288394,0.288381,0.288399,0.288523,0.288659,0.288687,0.288507,0.288137

In [7]:
input_df.describe()

,Species_name_Freq,Functional_group1_Freq,Functional_group2_Freq,Boochs,Boochs2,CARI,Carter,Carter2,Carter3,Carter4,...,852.593_5nm,857.593_5nm,862.593_5nm,867.593_5nm,872.593_5nm,877.593_5nm,882.593_5nm,887.593_5nm,892.593_5nm,897.593_5nm
count,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,...,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000
mean,60.085981,206.347664,399.567290,0.007579,0.006569,0.593614,2.347969,0.394174,0.339885,0.627527,...,0.472522,0.473125,0.473689,0.474219,0.474760,0.475339,0.475915,0.476451,0.476964,0.477464
std,136.206098,341.218283,318.919171,0.004174,0.004622,0.347223,1.252466,0.267837,0.249235,0.199230,...,0.166962,0.166865,0.166754,0.166630,0.166487,0.166325,0.166157,0.165998,0.165847,0.165699
min,2.000000,2.000000,29.000000,0.000045,-0.000485,0.062027,0.946166,0.076189,0.057444,0.285020,...,0.056940,0.057816,0.058709,0.059630,0.060547,0.061441,0.062360,0.063342,0.064347,0.065349
25%,10.000000,32.000000,100.000000,0.003863,0.001791,0.381864,1.493619,0.161856,0.139225,0.449353,...,0.368488,0.369635,0.370728,0.371845,0.374887,0.375636,0.378387,0.379758,0.380856,0.381954
50%,17.000000,56.000000,252.000000,0.008447,0.007032,0.514919,1.873978,0.255806,0.221447,0.561695,...,0.480951,0.481020,0.481216,0.481239,0.481641,0.481535,0.481201,0.481750,0.481830,0.481760
75%,43.000000,111.000000,460.000000,0.010667,0.010494,0.714629,2.765156,0.640842,0.522099,0.822563,...,0.577136,0.579304,0.579554,0.580536,0.581557,0.582075,0.582048,0.582519,0.584153,0.584494
max,611.000000,967.000000,991.000000,0.023572,0.017879,3.123549,8.402378,1.005836,1.038892,1.011443,...,0.960912,0.959606,0.958230,0.956370,0.954455,0.952877,0.951512,0.950267,0.949391,0.948973

In [10]:
def add_noise_to_vec(vec, variance = 0.05):
    noise = np.random.normal(loc=0.0, scale= variance, size = vec.shape )
    noisy_vec = vec + noise
    return noisy_vec